.header {
  @extend .column;
  @extend .l-2-12;

  margin-top: 24px;
}

.logo {
  color: #424242;
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #424242;
  }
}

.navigation {
  padding: 0;

  li {
    font-size: 1.6em;
    display: inline-block;
    list-style: none;
  }

  a {
    &:hover {
      color: #424242;
    }
  }
}
