---
---

@import "responsive";
@import "grid";
@import "header";
@import "post";
@import "list";
@import url(autumn.css);

* {
  box-sizing: border-box;
}

body {
	color: #424242;
	background: #fafafa;
	font-size: 1em;
	font-family: "Dejavu Sans Mono", Courier, monospace;
  padding: 16px;
}

a {
  color: #0921ea;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: #0921ea;
  }
}

.fixed-width {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  @extend .row;
}

.content {
  @extend .column;
  @extend .l-10-12;
}
