article {
  h1 {
    font-size: 2em;
  }

  img {
    width: 100%;
  }
}

blockquote {
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin-top: 2em;
  margin-bottom: 2em;

  &:before {
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}

hr {
  border: 0;
  font-size: 1.4em;
  text-align: center;

  &:before {
    content: '...'
  }
}

figure {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.masthead {
  margin: 2em 0;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
}

.highlight {
  text-align: left;
}
